* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Media Queries */
$xs: 27em; // 432px @ base 16px
$sm: 40em; // 640px @ base 16px
$md: 52em; // 832px @ base 16px
$lg: 64em; // 1024px @ base 16px
$xl: 78em; // 1248px @ base 16px

:root {
  font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  font-size: 4em;
  line-height: 1.1;
  margin: 0.3em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
}


@mixin light-theme {
  color: #213547;
  background-color: #ffffff;

  a:hover {
    color: #747bff;
  }

  button {
    color: #213547;
    background-color: #ffffff;
  }
}

@mixin dark-theme {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

  a:hover {
    color: #535bf2;
  }

  button {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

:root.light {
  @include light-theme;
}

:root.dark {
  @include dark-theme;
}
